//color
$primary-green-trans :rgba(126, 213,11,0.8);
$second-green-trans : rgba(40, 180, 131, 0.8);
$color-primary-light: #73c764;
$color-primary-dark : #307e62;

$color-yellow-ligh: #ffb900;
$color-yellow-dark: #ff7730;
$color-orangered : orangered;

$color-blue-ligh: #2998ff;
$color-blue-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


$color-dark-gray : #777;
$color-dark-gray-2: #999;
$color-dark-gray-3: #333;

$color-white: #fff;
$color-black: #000;

//Font
$default-font-size: 1.6rem;


//variable for grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;